body {
  margin: 0;
  font-family: sans-serif;
}

#search-wrapper {
    display: none;
}

#lighthouse-header {
  display: grid;
  grid-template-columns: 150px auto;
  justify-content: start;
  background-color: aquamarine;
  padding: 10px;
}

#lighthouse-header h1 {
    margin-left: 30px;
}

#lighthouse-wrapper {
  display: grid;
  grid-template-columns: 200px auto;
}

#lighthouse-main {
  display: grid;
  grid-template-columns: 500px auto;
  background-color: white;
  padding: 15px;
}


.img-right{
  justify-self: end;

}

#lighthouse-nav {
  background-color: aqua;
}

#lighthouse-nav ul li {
  background-color: pink;
  padding: 20px;
  border-bottom: 1px solid white;
}
#lighthouse-nav ul {
  padding: 0px;
  margin-top: -1px;
}

#lighthouse-nav ul li a {
  color: white;
  text-decoration: none;

}

footer {
  padding: 5px;
  text-align: center;
  background-color: aquamarine;
}

h3 {
  color: aqua;
}
